<header class="p-3 bg-dark text-white">
    <div class="container">
    
      <div class="d-flex flex-wrap w-100">
        <div>
        <h1>Portfolio</h1>
      </div>
        <div class="col-6">
        <ul class="nav w-100 justify-content-center">
          <li><a href="presentation" class="nav-link px-2 text-white">Présentation</a></li>
          <li><a href="skils" class="nav-link px-2 text-white">Skils</a></li>
          <li><a href="exp" class="nav-link px-2 text-white">Expériences</a></li>
          <li><a href="projets" class="nav-link px-2 text-white">Projets</a></li>
        </ul>
        </div>
  
      </div>

    </div>
</header>
